@import "../../../assets/scss/style";

@font-face {
  font-family: anudrg;
  src: url('../../../assets/fonts/ANUDRG__.ttf');
}

@font-face {
  font-family: almendraSc;
  src: url('../../../assets/fonts/AlmendraSC-Regular.ttf');
}

@font-face {
  font-family: amersn;
  src: url('../../../assets/fonts/AMERSN__.ttf');
}

@font-face {
  font-family: anarchy;
  src: url('../../../assets/fonts/Anarchy.ttf');
}

@font-face {
  font-family: archivoBlack-regular;
  src: url('../../../assets/fonts/ArchivoBlack-Regular.ttf');
}

@font-face {
  font-family: font-first;
  src: url('../../../assets/fonts/Font_First.ttf');
}

@font-face {
  font-family: font-first-bold;
  src: url('../../../assets/fonts/Font_First bold.ttf');
}